// Screen sizes
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 520px;

// Navbar sizes
$navbar-lg: 50px;
$navbar-sm: 40px;

// Colors
$text-dark: black;
$text-light: white;
$text-secondary: #a9a9a9;
$error-text: #D9534F;
$primary: #005B96;
$secondary: #ff5500;
$toolbar: #3C4146;
$focus: #28A3E1;
$hover: #28A3E1;
