@import 'constants';
@import 'navbar';
@import 'login';
@import 'search';
@import 'repo-card';

body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $text-dark;
}

#app, #content-wrapper {
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: $navbar-lg;
  @media screen and (max-width: $screen-sm) {
    padding-top: $navbar-sm;
  }
}

.error-text {
  color: $error-text;
}

a {
  text-decoration: none;
}
